#root {
  font-family: "IBM Plex Mono", monospace;
}

.navbar {
  font-family: inherit;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-style: inherit;
  list-style-type: none;
  background-color: #000000;
  color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: bold;
  
}

.navbar li:hover, .logo {
  color :#20C20E;
}

.body-text {
  font-family: inherit;
  font-size: 1.5rem;
  margin-top: 200px;
  padding: 1rem 2rem;
  font-style: inherit;
  color: #20C20E;
  padding: 100px;
}